{% extends 'base.html' %}

<a href="{% url 'createemployee' %}">Create Employee</a>
<a href="{% url 'employeefilter' 1 %}">asc</a>
<a href="{% url 'employeefilter' 2 %}">desc</a>

<h1>Employee list</h1>
{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Post</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in emp %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.post}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.join_date}}</td>
            <td>
                <a href="{% url 'updateemployee' emp.id %}">Update</a>
                <a href="{% url 'deleteemployee' emp.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}